.drop.drop-theme-arrows {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  font-family: "Helvetica Neue", sans-serif;
  background: black;
  color: white;
  padding: 1em;
  max-width: 100%;
  font-size: 1.1em;
  line-height: 1.5em; }
  .drop.drop-theme-arrows:before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-width: 16px;
    border-style: solid; }
  .drop.drop-theme-arrows.drop-attached-bottom-left {
    margin-top: 16px; }
    .drop.drop-theme-arrows.drop-attached-bottom-left:before {
      bottom: 100%;
      left: 16px;
      border-bottom-color: black; }
  .drop.drop-theme-arrows.drop-attached-bottom-right {
    margin-top: 16px; }
    .drop.drop-theme-arrows.drop-attached-bottom-right:before {
      bottom: 100%;
      right: 16px;
      border-bottom-color: black; }
  .drop.drop-theme-arrows.drop-attached-top-left {
    margin-top: 16px; }
    .drop.drop-theme-arrows.drop-attached-top-left:before {
      top: 100%;
      left: 16px;
      border-top-color: black; }
  .drop.drop-theme-arrows.drop-attached-top-right {
    margin-top: 16px; }
    .drop.drop-theme-arrows.drop-attached-top-right:before {
      top: 100%;
      right: 16px;
      border-top-color: black; }
  .drop.drop-theme-arrows.drop-attached-left-top {
    margin-left: -16px; }
    .drop.drop-theme-arrows.drop-attached-left-top:before {
      top: 16px;
      left: 100%;
      border-left-color: black; }
  .drop.drop-theme-arrows.drop-attached-right-top {
    margin-left: 16px; }
    .drop.drop-theme-arrows.drop-attached-right-top:before {
      top: 16px;
      right: 100%;
      border-right-color: black; }
  .drop.drop-theme-arrows.drop-attached-left-bottom {
    margin-left: -16px; }
    .drop.drop-theme-arrows.drop-attached-left-bottom:before {
      bottom: 16px;
      left: 100%;
      border-left-color: black; }
  .drop.drop-theme-arrows.drop-attached-right-bottom {
    margin-left: 16px; }
    .drop.drop-theme-arrows.drop-attached-right-bottom:before {
      bottom: 16px;
      right: 100%;
      border-right-color: black; }
