.drop, .drop:after, .drop:before, .drop *, .drop *:after, .drop *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.drop {
  position: absolute;
  display: none; }
  .drop.drop-opened {
    display: block; }
  .drop.drop-closed {
    display: none; }

.drop {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background: pink;
  padding: 20px;
  height: 100px;
  width: 100px; }
