@import compass/css3

// Core

.drop, .drop *

    &, &:after, &:before
        +box-sizing(border-box)

.drop
    position: absolute
    display: none

    &.drop-opened
        display: block

    &.drop-closed
        display: none

// Minimal Theme

.drop
    background: #fff