@import compass/css3

.drop, .drop *

    &, &:after, &:before
        +box-sizing(border-box)

.drop
    position: absolute
    display: none

    &.drop-opened
        display: block

    &.drop-closed
        display: none