@import compass/css3
@import compass/utilities/general/clearfix

$arrowSize: 16px
$backgroundColor: #000
$color: #fff

.drop.drop-theme-arrows
    max-width: 100%
    max-height: 100%

    .drop-content
        +border-radius(5px)
        position: relative
        font-family: "Helvetica Neue", sans-serif
        background: $backgroundColor
        color: $color
        padding: 1em
        font-size: 1.1em
        line-height: 1.5em

        &:before
            content: ""
            display: block
            position: absolute
            width: 0
            height: 0
            border-color: transparent
            border-width: $arrowSize
            border-style: solid

    &.drop-attached-bottom-left .drop-content
        margin-top: $arrowSize

        &:before
            bottom: 100%
            left: $arrowSize
            border-bottom-color: $backgroundColor

    &.tether-target-on-top.tether-target-on-right.tether-element-on-bottom .drop-content
        margin-top: $arrowSize

        &:before
            bottom: 100%
            right: $arrowSize
            border-bottom-color: $backgroundColor

    &.tether-target-on-bottom.tether-target-on-left.tether-element-on-top .drop-content
        margin-bottom: $arrowSize

        &:before
            top: 100%
            left: $arrowSize
            border-top-color: $backgroundColor

    &.tether-target-on-bottom.tether-target-on-right.tether-element-on-top .drop-content
        margin-bottom: $arrowSize

        &:before
            top: 100%
            right: $arrowSize
            border-top-color: $backgroundColor

    // Side corners

    &.tether-target-on-top.tether-target-on-right.tether-element-on-left .drop-content
        margin-right: $arrowSize

        &:before
            top: $arrowSize
            left: 100%
            border-left-color: $backgroundColor

    &.tether-target-on-top.tether-target-on-left.tether-element-on-right .drop-content
        margin-left: $arrowSize

        &:before
            top: $arrowSize
            right: 100%
            border-right-color: $backgroundColor

    &.tether-target-on-bottom.tether-target-on-right.tether-element-on-left .drop-content
        margin-right: $arrowSize

        &:before
            bottom: $arrowSize
            left: 100%
            border-left-color: $backgroundColor

    &.tether-target-on-bottom.tether-target-on-left.tether-element-on-right .drop-content
        margin-left: $arrowSize

        &:before
            bottom: $arrowSize
            right: 100%
            border-right-color: $backgroundColor