body {
    min-height: 3000px;
}
.element {
    width: 200px;
    height: 20px;
    background-color: #fe8;
    position: absolute;
    z-index: 6;
}

.target {
    width: 300px;
    height: 50px;
    width: 30%;
    margin: 0 35%;
    background-color: #4e9;
}

.container {
    height: 200px;
    overflow: scroll;
    width: 600px;
    border: 20px solid #CCC;
    margin-top: 500px;
}

body {
    height: 1000px;
}

.element {
    border: 30px solid grey;
}

.container .element {
    border-color: blue;
}

body > .container {
    position: absolute;
    left: 600px;
    top: 0;
}

.pad {
    height: 1200px;
    width: 100px;
}

.tether-out-of-bounds.element {
    -display: none;
}
