/* Test Drop Theme */

.drop {
    border-radius: 3px;
    background: pink;
    padding: 20px;
    height: 100px;
    width: 100px;
}

/* Theme Page Styles */

body {
    font-family: "Helvetica Neue", sans-serif;
    color: #444;
    margin: 20px;
}
a {
    cursor: pointer;
    color: blue;
}
.scroll-container {
    overflow: auto;
    background: #eee;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 200px;
    width: 200px;
    float: left;
}
.fixed-container {
    position: fixed;
    top: 20px;
    right: 20px;
}
.absolute-container {
    position: absolute;
    top: 20px;
    right: 300px;
}
.fixed-container-2 {
    top: 20px;
    right: 600px;
}