@charset "UTF-8";
* {
  box-sizing: border-box; }

.yellow-box {
  width: 100px;
  height: 100px;
  background-color: #ffee88;
  pointer-events: none; }

.green-box {
  margin-top: 65px;
  margin-left: 100px;
  width: 200px;
  height: 50px;
  background-color: #44ee99; }

.scroll-box {
  height: 150px;
  border: 10px solid #dddddd;
  overflow: auto;
  position: relative; }

.scroll-content {
  height: 2000px;
  width: 2000px;
  padding: 910px 809px; }

pre {
  margin: 0;
  width: 50%;
  float: left; }

p, h2, h3 {
  clear: both; }

output {
  display: block;
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 15px; }
  output:after {
    content: "↕ scroll this area ↕";
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-variant: small-caps;
    color: #777777;
    opacity: 1;
    transition: opacity 0.2s; }
  output.scrolled:after {
    opacity: 0; }

.attachment-mark, .tether-element {
  position: relative; }
  .attachment-mark:after, .tether-element:after {
    content: "A";
    width: 10px;
    height: 10px;
    background-color: red;
    display: inline-block;
    line-height: 10px;
    font-size: 9px;
    color: white;
    text-align: center; }

span.attachment-mark:after, span.tether-element:after {
  position: relative;
  top: -1px;
  margin-right: 1px; }

.tether-element {
  border: 2px solid transparent; }
  .tether-element:after {
    position: absolute; }
  .tether-element.tether-target-on-left:after {
    left: -2px; }
  .tether-element.tether-pinned-left {
    border-left-color: red; }
  .tether-element.tether-target-on-right:after {
    right: -2px; }
  .tether-element.tether-pinned-right {
    border-right-color: red; }
  .tether-element.tether-target-on-top:after {
    top: -2px; }
  .tether-element.tether-pinned-top {
    border-top-color: red; }
  .tether-element.tether-target-on-bottom:after {
    bottom: -2px; }
  .tether-element.tether-pinned-bottom {
    border-bottom-color: red; }
  .tether-element.tether-target-on-center:after {
    left: calc(50% - 5px); }
  .tether-element.tether-target-on-middle:after {
    top: 45px; }

.tether-element.tether-out-of-bounds[data-example="hide"] {
  display: none; }

[data-example="optimizer"].lang-javascript {
  /* This should just be a `code` selector, but sass doesn't allow that with & */
  min-height: 220px; }
[data-example="optimizer"].tether-element:before {
  margin-top: 26px;
  display: block;
  text-align: center;
  content: "I'm in the body";
  line-height: 1.2;
  font-size: 15px;
  padding: 4px;
  color: #666666; }
[data-example="optimizer"] .scroll-box .tether-element:before {
  content: "I'm in my scroll parent!"; }
