/* line 3, ../sass/welcome.sass */
html, body {
  height: 100%;
}

/* line 6, ../sass/welcome.sass */
body {
  margin: 0;
  font-family: "proxima-nova", "Helvetica Neue", sans-serif;
}

/* line 10, ../sass/welcome.sass */
.button {
  display: inline-block;
  border: 2px solid #333333;
  color: #333333;
  padding: 1em 1.25em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  cursor: pointer;
  width: 140px;
  font-size: 0.8em;
  line-height: 1.3em;
}

/* line 24, ../sass/welcome.sass */
.button.dark {
  background: #333333;
  color: white;
}

/* line 28, ../sass/welcome.sass */
table.showcase {
  height: 100%;
  width: 100%;
  position: relative;
}
/* line 33, ../sass/welcome.sass */
table.showcase:after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0.5;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  height: 0;
  width: 0;
  border-width: 18px;
  border-style: solid;
  border-color: transparent;
  border-top-color: inherit;
}
/* line 49, ../sass/welcome.sass */
table.showcase.last-showcase:after {
  display: none;
}
/* line 52, ../sass/welcome.sass */
table.showcase .showcase-inner {
  margin: 40px auto 60px;
  padding: 10px;
}
/* line 56, ../sass/welcome.sass */
table.showcase .showcase-inner h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 300;
}
/* line 61, ../sass/welcome.sass */
table.showcase .showcase-inner h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  margin: 1em 0 1em;
  padding: 0 10%;
}
/* line 68, ../sass/welcome.sass */
table.showcase .showcase-inner p {
  text-align: center;
}
