@import "helpers/tether";
@import "helpers/tether-theme-arrows";

$themePrefix: "tether";
$themeName: "arrows";
$arrowSize: 16px;
$backgroundColor: #fff;
$color: inherit;
$useDropShadow: true;

@include tether($themePrefix: $themePrefix);
@include tether-theme-arrows($themePrefix: $themePrefix, $themeName: $themeName, $arrowSize: $arrowSize, $backgroundColor: $backgroundColor, $color: $color, $useDropShadow: $useDropShadow);
