.drop {
    border-radius: 3px;
    background: pink;
    padding: 20px;
    height: 100px;
    width: 100px;
}

.drop-target.drop-opened {
    outline: 2px solid;
}

.body {
    position: relative;
    margin-right: 200px;
}

.page {
    max-width: 100%;
    width: 1080px;
    padding: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
}

.navigation {
    background: blue;
    color: #fff;
    height: 30px;
    padding: 10px;
    margin-right: 200px;
}

.navigation .item {
    padding: 0 10px;
}

.navigation .item a {
    color: inherit;
}

.right-sidebar {
    position: fixed;
    height: 50%;
    width: 200px;
    background: #eee;
    overflow: auto;
    right: 0;
}

.right-sidebar .item a {
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, .1);
}

.right-sidebar-top {
    top: 0;
}

.right-sidebar-bottom {
    top: 50%;
    background: #ccc;
}

.scroll-container {
    overflow: auto;
    background: #eee;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    height: 200px;
    width: 200px;
}

.absolute-container {
    position: absolute;
    top: 20px;
    right: 300px;
}